<% if @restaurants.any? %>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li class="restaurant-listing">
        <section class="header">
          <h2 class="restaurant-name">
            <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
          </h2>
          <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant), class:"edit"  %>
          <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete, class:"delete" %>
          <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant), class:"review" %>
        </section>
        <section class="body">
          <% if restaurant.image_file_name %>
            <%= image_tag restaurant.image.url(:thumb) %>
          <% end %>
          <p>
            <%= restaurant.description %>
          </p>
          <h3>
            Reviews for <%= restaurant.name %>
          </h3>
          <% if restaurant.reviews.any? %>
          <h3>Average rating: <%= star_rating(restaurant.average_rating) %> <%= restaurant.average_rating.to_i%></h3>
            <ul>
              <% restaurant.reviews.each do |review| %>
                <li>
                  <p><%= review.thoughts %>, <strong><%= review.rating %></strong>/5</p>
                  <p>Reviewed <%= time_ago_in_words(review.created_at) %> ago</p>
                  <p><%= link_to "Endorse #{restaurant.name}", review_endorsements_path(review), class: 'endorsements-link' %> |
                    <span class="endorsements_count"><%= review.endorsements.count %></span> endorsements</p>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No reviews.</p>
          <% end %>
        </section>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>
<% if user_signed_in? %>
  <%= link_to 'Add a restaurant', new_restaurant_path, class:"add-restaurant" %>
<% end %>
